<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean name="customerRepository" 
          class="io.sudheer.pluralsight.repository.HibernateCustomerRepositoryImpl" />
          
    <!-- Using Setter Injection -->      
    <!-- <bean name="customerService"
          class="io.sudheer.pluralsight.service.CustomerServiceImpl">
          <property name="customerRepository" ref="customerRepository" />         
    </bean> -->
    
    <!-- Using Construction Injection --> 
    <!-- <bean name="customerService"
          class="io.sudheer.pluralsight.service.CustomerServiceImpl">
          <constructor-arg index="0" ref="customerRepository" />     
    </bean> -->
    
    <!-- Using Autowiring --> 
    <bean name="customerService"
          class="io.sudheer.pluralsight.service.CustomerServiceImpl" autowire="constructor"> <!-- byType/byName -->
    </bean>
    
</beans>
