<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
						http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/context 
						http://www.springframework.org/schema/context/spring-context.xsd">
						
	<context:annotation-config/>			<!-- If we want to use annotation based -->			
	<context:property-placeholder location="app.properties"/>

    <bean name="customerRepository" 
          class="io.sudheer.pluralsight.repository.HibernateCustomerRepositoryImpl">
        <!-- If we want to use XML based -->  
    	<!--  <property name="dbUserName" value="${dbUserName}"></property> --> 
    </bean>
          
    <!-- Using Setter Injection -->      
    <!-- <bean name="customerService"
          class="io.sudheer.pluralsight.service.CustomerServiceImpl">
          <property name="customerRepository" ref="customerRepository" />         
    </bean> -->
    
    <!-- Using Construction Injection --> 
    <!-- <bean name="customerService"
          class="io.sudheer.pluralsight.service.CustomerServiceImpl">
          <constructor-arg index="0" ref="customerRepository" />     
    </bean> -->
    
    <!-- Using Autowiring --> 
    <bean name="customerService"
          class="io.sudheer.pluralsight.service.CustomerServiceImpl" 
          autowire="constructor" 
          scope="singleton"> <!-- byType/byName -->
    </bean>
    
</beans>
